@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .btn-gradient-border {
    border-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      270deg,
      #ffd644 0%,
      #fd7503 50%,
      #ff1b00 100%
    );
  }

  .blur-image-sides {
    /* filter: blur(5px); */
    box-shadow: 0 0 16px 16px black inset;
  }
}

* {
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
.articleWrapper h1 {
  font-size: 2em;
}

.CodeMirror-sizer {
  padding: 1rem 0 !important;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}
